
<h2 align="left">Registrate</h2> 
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<div class="row">
 <div class= "span3 offset0">
      <div class="control-group">
      <div><%= f.label :email, "Email *" %> </div>
      <div class="controls">
      <div class="input-prepend">
      <span class="add-on"><i class="icon-envelope"></i></span>
      <%= f.email_field :email,:autofocus => true , :placeholder => "Introduzca e-mail", style: "width: 180px;"  %>
 </div>
      </div>
      </div>
      </div>
 <div class="span3 offset1">
	  <%= f.label :apodo, "Apodo *", align: "left" %>
  	<%= f.text_field  :nickname, :autofocus => true, :placeholder => "Elija un apodo"%>
 </div>
</div>

  <div class="row">
  <div class="span3 offset0">
  <%= f.label :contraseña , "Contraseña *"%>
  <%= f.password_field :password, :placeholder => "Elija una contraseña" %> 
  </div>

  <div class="span3 offset1">
    <%= f.label :verifica_contraseña, "Verifica contraseña*"%>
    <%= f.password_field :password_confirmation, :placeholder => "Repita la contraseña anterior" %>
	</div>
</div>


<div class="row">
  <div class="span3 offset0">
      <%=f.label :role do%>
        Rol * <p>
        <% if (resource.role.nil?) %>
            <%= f.select(:role, options_for_select([["Soy creativo","creative"],["Soy problematico","problematic"]])) %>
        <%else%>
            <%= f.select(:role, options_for_select([["Soy creativo","creative"],["Soy problematico","problematic"]],
                                [resource.role])) %>
        <%end%>
      <%end%>
  </div>
</div>

<h2 align="left">Datos</h2>

<div class="row">
  <div class="span3 offset0">
    <%= f.label :nombre%>  
    <%= f.text_field :first_name , :placeholder => "Introduzca nombre(s)" %>
  </div>

  <div class="span3 offset1">
    <%= f.label :apellido_paterno%>
    <%= f.text_field :second_name , :placeholder => "Introduzca apellido paterno"%>
  </div>
</div>
<div class="row">
  <div class="span3 offset0">
    <%= f.label :apellido_materno %>
    <%= f.text_field :third_name, :placeholder => "Introduzca apellido materno"%>
  </div>
</div>
   

<div class="row">
  <div class="span3 offset0">
    <%= f.label :telefono, "Telefono" %>
    <%= f.text_field :telephone , :placeholder => "Formato: dd-dd-dd-dd" %>
  </div>
</div>
<div class="row">
  <div class="span3 offset5">
  <%= f.submit "Registar",:class => "btn btn-info"%> &nbsp;
       <%if request.env["HTTP_REFERER"].nil? %>
      <%= link_to 'Cancelar', root_path , :class => 'btn btn-default' %>
    <%else%>
      <%= link_to 'Cancelar', :back , :class => 'btn btn-default' %>
  <%end%>
</div>
<%end%>