	<%= form_for(@problem) do |f| %>
  
  <div align="right">
      <%if @problem.created_at.nil?%>
        <%= f.submit "Crear problema",:class => "btn btn-info"%>&nbsp;
      <%else%>
        <%= f.submit "Actualizar",:class => "btn btn-warning"%>&nbsp;
      <%end%>
      <%if request.env["HTTP_REFERER"].nil? %>
      <%= link_to 'Cancelar', root_path , :class => 'btn btn-default' %>
    <%else%>
      <%= link_to 'Cancelar', :back , :class => 'btn btn-default' %>
  <%end%>
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
    </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
<div class="row">
	<div class="span6 offset0">
		<%= f.label :Titulo, "Título *"%>
	  	<%= f.text_area :title, :style => "width:605px; resize:none" %>
	</div>
</div>

  <div class="row">
    <div class="span3 offset0">  
	     <div class="control-group">
	     <%= f.label :Email, "Email de contacto *"%>
	     <div class="controls">
	     <div class="input-prepend">
	     <span class="add-on"><i class="icon-envelope"></i></span>
		   <%= f.text_field :contact, :placeholder => "Agregar Email (obligatorio)", style: "width: 180px;"%>
       </div>
	     </div>
	     </div>
      </div>
    <div class="span3 offset1">
      <%= f.label :Telefono_de_contacto, "Telefono de contacto" %>
	    <%= f.text_field :telephone, :placeholder => "Agregar Número de Contacto"  %>
    </div>
    </div>

<div class="row">
	<div class="span6 offset0">
		<%= f.label :Descripcion, "Descripción *"%>
    	<%= f.text_area :description, :style => "width:605px; height:300px; resize:none;" %><br>
	</div>
</div>


<div class="arrow">
	<div class="span4 offset3">
<%= f.label :Area_de_conocimiento, "Categoria" %>
	<% if (@problem.areas_of_knowledge.nil?) %>
		<%= f.select :areas_of_knowledge_id, options_for_select(@areas_of_knowlegde), {}, style: "width: 290px;"  %>
    <%else%>
        <%= f.select :areas_of_knowledge_id, 
        	options_for_select(@areas_of_knowlegde, [@problem.areas_of_knowledge.name,@problem.areas_of_knowledge.id]),
        	{}, style: "width: 290px;"  %>
    <%end%>
</div>
</div>


  <div align="right">
      <%if @problem.created_at.nil?%>
      	<%= f.submit "Crear problema",:class => "btn btn-info"%>&nbsp;
      <%else%>
      	<%= f.submit "Actualizar",:class => "btn btn-warning"%>&nbsp;
      <%end%>
      <%if request.env["HTTP_REFERER"].nil? %>
    	<%= link_to 'Cancelar', root_path , :class => 'btn btn-default' %>
  	<%else%>
    	<%= link_to 'Cancelar', :back , :class => 'btn btn-default' %>
	<%end%>
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
    </div>
<% end %>


