<%= form_for(@problem, remote: true) do |f| %>

  <% if resource.errors.messages.include?(:title) %>
      <%resource.errors.messages[:email].each do |message|%>
        <%= message%>
      <% end %>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
    <span id="error" style="font-family: Verdana, Arial, 
         Helvetica, sans-serif; font-size: 12pt;color: #CC3300;
         position:relative;visibility:hidden;">
         El campo no debe estar vacio!!!
    </span>
  </div>
  
  
  <% if resource.errors.messages.include?(:contact) %>
      <%resource.errors.messages[:email].each do |message|%>
        <%= message%>
      <% end %>
  <% end %>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </div>
  
  <% if resource.errors.messages.include?(:description) %>
      <%resource.errors.messages[:email].each do |message|%>
        <%= message%>
      <% end %>
  <% end %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  
  <% if resource.errors.messages.include?(:telephone) %>
      <%resource.errors.messages[:email].each do |message|%>
        <%= message%>
      <% end %>
  <% end %>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.number_field :telephone %>
  </div>
  
  <div>
   <%= f.label :areas_of_knowledge %><br>
   <%= f.select(:areas_of_knowledge,
   options_for_select([["Fisica","Fis"],
                       ["Matematicas","Mat"],
                       ["Ciencias de la Computacion", "CC"],
                       ["Biologia", "Bio"],
                       ["Actuaria", "Act"],
                       ["Ciencias de la Tierra", "CT"]
                       ])) %><br /></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
