<%= form_for(@problem) do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> Se presentaron los siguientes errores al tratar de guargar el Problema:</h2>
      <ul>
      <% @problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.number_field :telephone %>
  </div>
  
  <div>
   <%= f.label :areas_of_knowledge %><br>
   <%= f.select(:areas_of_knowledge,
   options_for_select([["Fisica","Fis"],
                       ["Matematicas","Mat"],
                       ["Ciencias de la Computacion", "CC"],
                       ["Biologia", "Bio"],
                       ["Actuaria", "Act"],
                       ["Ciencias de la Tierra", "CT"]
                       ])) %><br /></div>
  
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
