
<h2 align="center">Problemas</h2>
<div >
<div >
<table class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      
      <th>Categoría</th>
      <th>Usuario</th>


    </tr>
  </thead>

  <tbody class="tablareducida" >
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.title %></td>
        <!--<td><%= problem.contact %></td>-->
         
        <!--<td><%= problem.telephone %></td> -->
        <td><%= problem.areas_of_knowledge.acronym %></td>
        <td><%= problem.user.nickname %></td>
        <td ><%= link_to 'Ver', problem, :class => 'btn btn-info colorBlanco' %>

        <% if (problem.owner(current_user)) %>
          <%= link_to 'Editar', problem_path(problem), :class => 'btn btn-success' %>
         <%= link_to 'Eliminar', problem, method: :delete, :class=>'btn btn-warning' ,data: { confirm: '¿Estas seguro de eliminarlo?' } %></td>

        <% end %>
      </tr>
    <% end %>
	<%= will_paginate @problems %>
  </tbody>
</table>
</div>
</div>
