

<p id="notice"><%= notice %></p>


<adress>
  <div style="border-radius:10px;" class="img-thumbnail"></div>
  <h3><strong><%= @problem.user.nickname %></strong></h3>
  
  
  <strong>Titulo</strong><br>
  <%= @problem.title %>
  <br>
  <br>
  <strong>Correo:</strong><br>
  <%= @problem.contact%>
  <br>
  <br>

  <strong>Descripcion:</strong><br>
  <%= @problem.description %>
  <br>
  <br>
  <strong>Teléfono:</strong><br>
  <%= @problem.telephone %>
  <br>
  <br>
  
  <strong>Categoría:</strong><br>
  <%= @problem.areas_of_knowledge.name %>
  <br>
  <br>
  
</adress>

</p>


<%if @problem.owner(current_user) %>
<%= link_to 'Eliminar', @problem, method: :delete, data: { confirm: '¿Estas seguro de eliminarlo?' } %>
<%end%>
<%if current_role == "creative" %>
<%= link_to 'Crear aporte', new_solution_path(@problem) %>
<%end%>
<%if @problem.owner(current_user)%>
<%= link_to 'Editar', edit_problem_path(@problem) %> 
<%end%>



  <tbody>
    <% @solutions.each do |solution| %>
      <tr>
        <td><%= solution.text %></td>
        <td><%= solution.estimate %></td>
        <td><%= solution.currency.acronym %></td>
        <td><%= solution.email %></td>
        <td><%= solution.telephone %></td>
        <td><%= solution.company %></td>
        <td><%= solution.company_telephone %></td>
        <td><%= solution.user.nickname %></td>
        <td><%= link_to 'Ver', solution %></td>
	       <%if solution.owner(current_user) %>
        	 <td><%= link_to 'Editar', edit_solution_path(solution) %></td>
	       <%end%>
        <%if solution.owner(current_user) %>
		      <td><%= link_to 'Eliminar', solution, method: :delete, data: { confirm: '¿Estas seguro de eliminarlo?' } %></td>
	       <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @solutions %>
