
  <h2><%= @problem.title %></h2>

<div class="row">
  <div class="span6 offset4">
<%if @problem.owner(current_user) %>
<%= link_to 'Editar', edit_problem_path(@problem),:class => 'btn  btn btn-primary' %>
<%= link_to 'Eliminar', @problem, method: :delete, data: { confirm: '¿Estas seguro de eliminarlo?' }, :class =>'btn btn-danger' %>
<%end%>
<%if current_role == "creative" %>
<%= link_to 'Crear aporte', new_solution_path(@problem) , :class => 'btn  btn btn-primary'%>
<%end%>
<%if @problem.owner(current_user)%>

<%end%>
<%if request.env["HTTP_REFERER"].nil? %>
    <%= link_to 'Regresar', root_path , :class => 'btn btn-default' %>
  <%else%>
    <%= link_to 'Regresar', :back , :class => 'btn btn-default' %>
<%end%>
</div>
</div>
</br>



  <div class="row">
    <div class="span2 offset0">
      <strong>Apodo:</strong>
      <div class="fondoDatos" style="width: 240px"><%= @problem.user.nickname %></div>
  </div>
  
  <div class="span2 offset1">
    <strong>Email de contacto:</strong>
    <div class="fondoDatos" style="width: 296px"><%= @problem.contact%></div> 
  </div>
</div>
<%if !@problem.telephone.nil? %>
<div class="row">
  <div class="span2 offset0">
    <strong>Telefono:</strong>
    <div class="fondoDatos" style="width: 200px"><%= @problem.telephone %></div>
  </div>
</div>
<%end%>
<div class="row">
  <div class="span2 offset0">
  <strong>Descripcion:</strong>
  <pre class="fondoDatos" style="width: 600px"><%= @problem.description %></pre>
</div>
</div>

<div class="row">
  <div class="span3 offset3">
  <strong>Categoría:</strong>
  <div class="fondoDatos" style="width: 296px"><%= @problem.areas_of_knowledge.name %></div>
</div>
</div>
  
<table>
  <tbody class="tablareducida" >
    <% @solutions.each do |solution| %>
      <tr>
        <td><%= solution.text %>:</td>
        <td><%= solution.estimate %></td>
        <td><%= solution.currency.acronym %></td>
        <td><%= solution.email %></td>
        <td><%= solution.telephone %></td>
        <td><%= solution.company %></td>
        <td><%= solution.company_telephone %></td>
        <td><%= solution.user.nickname %></td>
        <td><%= link_to 'Ver', solution %></td>
	       <%if solution.owner(current_user) %>
        	 <td><%= link_to 'Editar', edit_solution_path(solution) %></td>
	       <%end%>
        <%if solution.owner(current_user) %>
		      <td><%= link_to 'Eliminar', solution, method: :delete, data: { confirm: '¿Estas seguro de eliminarlo?' } %></td>
	       <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

