
<%= javascript_include_tag 'jquery', 'application'%>


<h2 align="center">Ingresar</h2>
</br>

<div class="box1">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <script>
 	$(document).ready(function() {
		$(".alert fade in alert-error").css(color: "blue");
	});
  </script> 
  <div class="control-group">
  <div><%= f.label :email, "Email *" %> </div>
  <div class="controls">
  <div class="input-prepend">
  <span class="add-on"><i class="icon-envelope"></i></span>
  <%= f.email_field :email, :autofocus => true , :placeholder => "Introduzca su correo electr칩nico", style: "width: 180px;"%>
</div>
</div>
</div>

  <div><%= f.label :contrase침a, "Constrase침a *" %></div>
  <div><%= f.password_field :password , :placeholder => "Contrase침a" %></div>



  <% if devise_mapping.rememberable? %>
  <%= f.label :recuerdame, align: "right" do %>
  <%= f.check_box :remember_me %>
  Recuerdame
  <%end%>
  <% end %>
  </br>
  <div align="right"><%= f.submit "Aceptar" , :class => "btn btn-default"%>
  <%if request.env["HTTP_REFERER"].nil? %>
    <%= link_to 'Cancelar', root_path , :class => 'btn btn-default' %>
  <%else%>
   <%= link_to 'Cancelar', :back , :class => 'btn btn-default' %>
  <%end%>

  </div>

<% end %>
</div>
