<%= form_for(@solution) do |f| %>
  <div class="row">
    <div class="span3 offset0">  
	     <div class="control-group">
	     <%= f.label :Email, "Email de contacto *"%>
	     <div class="controls">
	     <div class="input-prepend">
	     <span class="add-on"><i class="icon-envelope"></i></span>
		   <%= f.text_field :email, :placeholder => "Agregar Email (obligatorio)", style: "width: 180px;"%>
       </div>
	     </div>
	     </div>
      </div>
    <div class="span3 offset1">
      <%= f.label :Telefono_de_contacto, "Telefono de contacto" %>
	    <%= f.text_field :telephone, :placeholder => "Agregar Número de Contacto"  %>
    </div>
    </div>
  
   <div class="row">
    <div class="span3 offset0">  
	     <%= f.label :Compañia, "Compañia" %>
	     <%= f.text_field :company,:placeholder => "Agregar Nombre de Compañia" %>
	   </div>
    
    <div class="span3 offset1">
     	<%= f.label :Telefono_de_la_compañia, "Telefono de la compañia" %>
	    <%= f.text_field :company_telephone, :placeholder => "Agregar Teléfono de Compañia"  %>
    </div>
  </div>

    <div class="row">
    <div class="span7 offset0">
     <%= f.label :Description, "Descripción *"%>
    <%= f.text_area :text,:placeholder => "Escribir la Solución",  style: "resize: none; width: 90.5%; height: 280px;" %>
    </div>
  </div>

    <div class="row">

        <div class="span1 offset0">
        <%= f.label :Presupuesto%>
        <%= f.text_field :estimate, :placeholder => "Ingresar Presupuesto", style: "width: 150px;"%>
      </div>


      <div class="span2 offset1">
      <%= f.label :Tipo_de_moneda, "Tipo de moneda" %>
        <% if (@solution.currency.nil?) %>
          <%= f.select :currency_id, options_for_select(@currencies) , {} ,style: "width: 100px;" %>
        <%else%>
          <%= f.select :currency_id, options_for_select(@currencies, [@solution.currency.acronym,@solution.currency.id]), {},style: "width: 100px;" %>
        <%end%>
     </div>
 
   </div>

    <% if !@problem.nil? %>
      <%= f.hidden_field :problem_id, :value => @problem.id %>
    <% else %>
      <%= f.hidden_field :problem_id, :valude => @solution.problem_id %>
    <%end%>
  
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div align="right">
      <%if @solution.created_at.nil?%>
      <%= f.submit "Crear aporte",:class => "btn btn-info"%>&nbsp;
      <%else%>
      <%= f.submit "Actualizar",:class => "btn btn-warning"%>&nbsp;
      <%end%>
      <%= link_to  "Cancelar", problem_path(@problem), :class => "btn btn-default" %>&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
    </div>
<% end %>
