<%= form_for(@solution) do |f| %>
  
  <% if @solution.errors.messages.include?(:text) %>
     <%@solution.errors.messages[:text].each do |message|%>
       <%= message%>
     <% end %>
  <% end %>
  <div class="field">
    <%= f.label :Texto%>*<br>
    <%= f.text_area :text %>
    <span id="texterror" style="font-family: Verdana, Arial, 
         Helvetica, sans-serif; font-size: 12pt;color: #CC3300;
         position:relative;visibility:hidden;">
         El campo no debe estar vacio!!!
    </span>
  </div>
  
  <% if @solution.errors.messages.include?(:estimate) %>
     <%@solution.errors.messages[:estimate].each do |message|%>
       <%= message%>
     <% end %>
  <% end %>
  <div class="field">
    <%= f.label :Presupuesto%><br>
    <%= f.text_field :estimate %>
    <span id="estimateerror" style="font-family: Verdana, Arial, 
         Helvetica, sans-serif; font-size: 12pt;color: #CC3300;
         position:relative;visibility:hidden;">
         El campo no debe estar vacio!!!
    </span>
  </div>
  
  <% if @solution.errors.messages.include?(:currency) %>
     <%@solution.errors.messages[:currency].each do |message|%>
       <%= message%>
     <% end %>
  <% end %>
  <div class="field">
    <%= f.label :Tipo_de_moneda %><br>
   <%= f.select(:currency,
   options_for_select([["Ninguno","None"],
                       ["MX","MX"],
                       ["US", "US"]
                       ])) %><br /></div>

    <span id="currencyerror" style="font-family: Verdana, Arial, 
         Helvetica, sans-serif; font-size: 12pt;color: #CC3300;
         position:relative;visibility:hidden;">
         El campo no debe estar vacio!!!
    </span>
  </div>
  
  <% if @solution.errors.messages.include?(:email) %>
     <%@solution.errors.messages[:email].each do |message|%>
       <%= message%>
     <% end %>
  <% end %>
  <div class="field">
    <%= f.label :Email%>*<br>
    <%= f.text_field :email %>
    <span id="emailerror" style="font-family: Verdana, Arial, 
         Helvetica, sans-serif; font-size: 12pt;color: #CC3300;
         position:relative;visibility:hidden;">
         El campo no debe estar vacio!!!
    </span>
  </div>
  
  <% if @solution.errors.messages.include?(:telephone) %>
     <%@solution.errors.messages[:telephone].each do |message|%>
       <%= message%>
     <% end %>
  <% end %>
  <div class="field">
    <%= f.label :Telefono_de_contacto %><br>
    <%= f.text_field :telephone %>
    <span id="telerror" style="font-family: Verdana, Arial, 
         Helvetica, sans-serif; font-size: 12pt;color: #CC3300;
         position:relative;visibility:hidden;">
         El campo no debe estar vacio!!!
    </span>
  </div>
  
  <% if @solution.errors.messages.include?(:company) %>
     <%@solution.errors.messages[:company].each do |message|%>
       <%= message%>
     <% end %>
  <% end %>
  <div class="field">
    <%= f.label :Compañia %><br>
    <%= f.text_field :company %>
    <span id="companyerror" style="font-family: Verdana, Arial, 
         Helvetica, sans-serif; font-size: 12pt;color: #CC3300;
         position:relative;visibility:hidden;">
         El campo no debe estar vacio!!!
    </span>
  </div>
  
  <% if @solution.errors.messages.include?(:company_telephone) %>
     <%@solution.errors.messages[:company_telephone].each do |message|%>
       <%= message%>
     <% end %>
  <% end %>
  <div class="field">
    <%= f.label :Telefono_de_la_compañia %><br>
    <%= f.text_field :company_telephone %>
    <span id="company_telephoneerror" style="font-family: Verdana, Arial, 
         Helvetica, sans-serif; font-size: 12pt;color: #CC3300;
         position:relative;visibility:hidden;">
         El campo no debe estar vacio!!!
    </span>
  </div>
  
  <% if @solution.errors.messages.include?(:problem_id) %>
     <%@solution.errors.messages[:problem].each do |message|%>
       <%= message%>
     <% end %>
  <% end %>

  <div class="field">
    <% if !@problem.nil? %>
    <%= f.hidden_field :problem_id, :value => @problem.id %><br>
    <% else %>
    <%= f.hidden_field :problem_id, :valude => @solution.problem_id %>
    <%end%>
  </div>
  
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
