<h1>Crear Aporte (agregar aporte)</h1>

<body>
<table>
<tr>
<td><br>Para crear un nuevo aporte introduzca los siguientes datos:</br></body></td> 
</tr>

<%= form_for :post do |f| %>
 <tr> 
 <td></td>
<td> 
<p>
    <%= f.label :aporte %><br>
    <%= f.text_field :aporte %>
  </p>
</td>
<td></td>
</tr>
<tr>
 <td></td>
 <td>
  <p>
    <%= f.label :presupuesto %><br>
    <%= f.text_area :presupuesto %>
  </p>
 </td>
 <td></td>
</tr>
<tr>
 <td></td>
<td>
 <p>
    <%= f.label :tipo_de_moneda %><br>
    <%= f.text_area :tipo_de_moneda %></br>
  </p>
 </td>
 <td></td>
</tr>
<tr>
 <td></td>
<td>
  <p>
    <%= f.label :correo_electr贸nico %><br>
    <%= f.text_area :correo_electr贸nico %></br>
  </p>
</td>
 <td></td>  
</tr>
<tr>
 <td></td>
<td>
<p>
    <%= f.label :numero_telef贸nico %><br>
    <%= f.text_area :numero_telef贸nico %></br>
  </p>
</td>
 <td></td>
</tr>
<tr>
 <td></td>
<td  
<p>
    <%= f.label :empresa %><br>
    <%= f.text_area :empresa %></br>
  </p>
</td>
 <td></td>
</tr>
<tr>
 <td></td>
<td> 
 <p>
    <%= f.label :telefono_empresa %><br>
    <%= f.text_area :telefono_empresa %></br>
  </p>
</td>
 <td></td>
</tr>
<tr>
 <td></td>
<td>
  <p>
    <%= f.submit:crear_aporte %>
  </p>
</td>
<td>
  <p>
    <%= f.submit:cancelar%>
  </p>
</td>
</tr>
</table>
<% end %>
