<p id="notice"><%= notice %></p>
   <div class="row">
    <div class="span3 offset0">  
	     <p>
		  <strong>Usuario: </strong>
		  <div class="fondoDatos">
		      <%= @solution.user.nickname %>
		  </div>
	      </p>
	   
  </div>
  <div class="row">
    <div class="span3 offset0">  
	     <p>
		  <strong>Email: </strong>
		  <div class="fondoDatos">
		      <%= @solution.email %>
		  </div>
	     </p>
      </div>
    <div class="span3 offset1">
	      <p>
		  <strong>Telefono de contacto: </strong>
		  <div class="fondoDatos">
		      <%= @solution.telephone %>
		  </div>
	      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="span3 offset0">  
	     <p>
		  <strong>Compañia: </strong>
		  <div class="fondoDatos">
		      <%= @solution.company %>
		  </div>
	     </p>
      </div>
    <div class="span3 offset1">
	      <p>
		   <strong>Telefono de la compañia: </strong>
		   <div class="fondoDatos">
		      <%= @solution.company_telephone %>
		   </div>
	      </p>
    </div>
  </div>
    
    
    <div class="row">
    <div class="span7 offset0">
	      <p>
		   <strong>Texto: </strong>
		   <div class="fondoDatos">
		      <%= @solution.text %>
		   </div>
	      </p>
    </div>
  </div>
  
    <div class="row">

        <div class="span1 offset0">
	      <p>
		    <strong>Presupuesto: </strong>
		    <div class="fondoDatos">
			<%= @solution.estimate %>
		    </div>
	      </p>
      </div>


      <div class="span3 offset1">
	      <p>
		    <strong>Tipo de moneda:</strong>
		    <div class="fondoDatos">
			<%= @solution.currency.acronym %>
		    </div>
	      </p>
     </div>
  
</div>


<%= link_to problem_path(@solution.problem_id)  do %>
  <button type="button" class="btn btn-default">&larr;Atrás</button>
<% end %>

<%if @solution.owner(current_user) %>
  <%= link_to edit_solution_path(@solution) do%> 
    <button type="button" class="btn btn-default">Editar</button>
  <% end %>
<% end %>

<%if @solution.problem.owner(current_user)%>
<%if @solution.notification.nil? then %>
<%= link_to choose_solution_path(@solution), :method => :post do %>
  <button type="button" class="btn btn-default">Elegir</button>
<%end%>
<%end%>
<%end%>
