<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @solution.text %>
</p>

<p>
  <strong>Estimate:</strong>
  <%= @solution.estimate %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @solution.currency %>
</p>

<p>
  <strong>Email:</strong>
  <%= @solution.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @solution.telephone %>
</p>

<p>
  <strong>Company:</strong>
  <%= @solution.company %>
</p>

<p>
  <strong>Company telephone:</strong>
  <%= @solution.company_telephone %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @solution.problem_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @solution.user_id %>
</p>
<%if @solution.owner(current_user) %>
	<%= link_to 'Editar', edit_solution_path(@solution) %> |
<%end%>
<%= link_to 'Atras', problem_path(@solution.problem_id) %>
