<p id="notice"><%= notice %></p>

<p>
  <strong>Texto: </strong>
  <%= @solution.text %>
</p>

<p>
  <strong>Presupuesto: </strong>
  <%= @solution.estimate %>
</p>

<p>
<<<<<<< HEAD
  <strong>Tipo de moneda: </strong>
  <%= @solution.currency %>
=======
  <strong>Tipo de moneda:</strong>
  <%= @solution.currency.acronym %>
>>>>>>> design_erika
</p>

<p>
  <strong>Email: </strong>
  <%= @solution.email %>
</p>

<p>
  <strong>Telefono de contacto: </strong>
  <%= @solution.telephone %>
</p>

<p>
  <strong>Compañia: </strong>
  <%= @solution.company %>
</p>

<p>
  <strong>Telefono de la compañia: </strong>
  <%= @solution.company_telephone %>
</p>

<p>
  <strong>Usuario: </strong>
  <%= @solution.user.nickname %>
</p>
<%= link_to problem_path(@solution.problem_id)  do%>
  <button type="button" class="btn btn-default">&larr;Atrás</button>
<% end %>

<%if @solution.owner(current_user) %>
<<<<<<< HEAD
  <%= link_to edit_solution_path(@solution) do%> 
    <button type="button" class="btn btn-default">Editar</button>
  <% end %>
<% end %>

=======
	<%= link_to 'Editar', edit_solution_path(@solution) %> |
<%end%>
<%= link_to 'Atras', problem_path(@solution.problem_id) %>
<%if @solution.problem.owner(current_user)%>
<%if @solution.notification.nil? then%>
<%= link_to 'Elegir', choose_solution_path(@solution), :method => :post %>
<%end%>
<%end%>
>>>>>>> design_erika
