<p id="notice"><%= notice %></p>

<p>
  <strong>Texto:</strong>
  <%= @solution.text %>
</p>

<p>
  <strong>Presupuesto:</strong>
  <%= @solution.estimate %>
</p>

<p>
  <strong>Tipo de moneda:</strong>
  <%= @solution.currency %>
</p>

<p>
  <strong>Email:</strong>
  <%= @solution.email %>
</p>

<p>
  <strong>Telefono de contacto</strong>
  <%= @solution.telephone %>
</p>

<p>
  <strong>Compañia</strong>
  <%= @solution.company %>
</p>

<p>
  <strong>Telefono de la compañia</strong>
  <%= @solution.company_telephone %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @solution.user.nickname %>
</p>
<%if @solution.owner(current_user) %>
	<%= link_to 'Editar', edit_solution_path(@solution) %> |
<%end%>
<%= link_to 'Atras', problem_path(@solution.problem_id) %>
