<!DOCTYPE html>
<html>
<head>
  <title>Brainsolve</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="navbar navbar-inverse" role="navigation">
  ola k ase
</nav>


	<% if current_role.nil? %>
	<%= link_to "Entrar", new_user_session_path %>
	<%= link_to "Registarse", new_user_registration_path %>
	<% elsif current_role == "problematic" %>
	<%= link_to "Crear problema", new_problem_path %>
	<%= link_to "Salir",destroy_user_session_path, :method => :delete if !current_user.nil? %>
	<% elsif current_role == "creative" %>
	<%= link_to "Salir",destroy_user_session_path, :method => :delete if !current_user.nil? %>
	<%end%>

<%= yield %>

</body >
</html>
